

$main_font_family: 'Inter', sans-serif;
//COLORS
$red:#D2401E;
$optional_red: #FF414B;
$yellow:#fbb403;
$black: #1d1d1d;
$green: #00AB55;
$grey: #7897ab;
$body_color: #808080;
$blue: #0064FB;
$light_grey: #E2E2E2;
$white: #fff;
$dash_green: #20C997;
$dash_purple: #7431F9;
$dash_pink: #D63384;
$dash_info: #0DCAF0;
$transition: .6s;
$font_size: 1rem;




