@import "./variables";


html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.8;
  font-family: "Inter", sans-serif;
  color: $body_color;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}

p {
  color: $body_color;
  font-weight: 400;
}

a {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none !important;
  color: $black;
}

a:hover,
a:focus {
  text-decoration: none;
}
i{
  line-height: normal;
}
button {
  margin: 0;
  padding: 0;
  outline: 0;
}

button:focus {
  outline: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: $black;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

.pt-150 {
  padding-top: 9.4rem;
}

.ptb-100 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.pt-100 {
  padding-top: 6.25rem;
}

.ptb-70 {
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
}

.pb-100 {
  padding-bottom: 6.25rem !important;
}

.pb-70 {
  padding-bottom: 4.4rem;
}


@mixin button {
  font-weight: 500;
  display: inline-block;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  line-height: normal;
  text-align: center;
  border: 0.13rem solid transparent;
  border-radius: 0.25rem;
  outline: 0;
  box-shadow: 0 0.13rem 0.25rem 0 #c8d7ee;
  transition: all 0.2s ease-in-out;
  @content;
}

@mixin searchInput {
  display: flex;
  width: 100%;
  background-color: $white;
  box-shadow: 0 0.06rem 0.4rem 0 rgba(32, 33, 36, 0.28);
  position: relative;
  @content;
}
@mixin animate($animation, $duration, $method) {
  animation: $animation $duration $method;
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin boxShadow1 {
  background-color: $white;
  -webkit-box-shadow: 0 0 1.25rem 0.2rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 1.25rem 0.2rem rgba(0, 0, 0, 0.05);
  @content;
}

@mixin formControl {
  &:focus {
    border-color: $yellow;
    outline: 0;
    font-size: 1rem;
    width: 100%;
    border-radius: 0.6rem;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  @content;
}

.dropdown-menu {
  --bs-dropdown-border-width: 0 !important;
  box-shadow: 0.06rem -0.06rem 0.3rem 0 rgba(0, 0, 0, 0.1);
  .dropdown-item {
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

/*BUTTONS*/
.primary_btn {
  background-color: $black;
  border-radius: 2rem;
  color: $white;
  @include button() {
    &:hover {
      background-color: $bluish_grey;
      color: $black;
      border: 0.016rem solid $black;
    }
  }
}
.secondary_btn {
  background-color: $black;
  color: $white;
  @include button() {
    &:hover {
      color: $body_color;
      background-color: $grey;
    }
  }
}
.light_btn {
  background-color: $bluish_grey;
  border-radius: 2rem;

  @include button() {
    &:hover {
      color: $black;
      border: 0.016rem solid $black;
    }
  }
}

.outline_btn {
  @include button() {
    border: 0.016rem solid $black;
    border-radius: 0.5rem;
    &:hover {
      color: $body_color;
      background-color: $bluish_grey;
    }
  }
}
.table_btn {
  font-weight: 600;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: $white;
  font-size: 1rem;
  line-height: normal;
  text-align: center;
  background-color: $black;
  border-radius: 0.25rem;
  outline: 0;
  transition: all 0.2s ease-in-out;
}
/***************************************************************COMPONENTS********************************************************/
/*NAVBAR*/
.main-navbar {
  .navbar {
    .navbar-nav {
      .nav-item {
        a {
          color: $black;
          font-size: $font_size;
          font-weight: 600;
          padding: 2rem;
          -webkit-transition: $transition;
          transition: $transition;
          &:hover {
            color: $dark_grey;
          }
          i {
            color: $black;
            cursor: pointer;
            font-weight: 900;
            -webkit-transition: $transition;
            transition: $transition;
            &:hover {
              color: $dark_grey;
            }
          }
        }
      }
    }
    .others-options {
      .option-item {
        .side-menu-btn {
          i {
            font-size: 1.6rem;
            color: $black;
            cursor: pointer;
            font-weight: 900;
            -webkit-transition: $transition;
            transition: $transition;
            &:hover {
              color: $dark_grey;
            }
          }
        }
      }
    }
  }
}

.navbar-area {
  &.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: $white;
    -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    -webkit-transition: $transition;
    transition: $transition;
  }
}
/* NAVBAR TOGGLER*/
.navbar-toggler {
  border: none;
  border-radius: 0;
  padding: 0;
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .icon-bar {
    width: 2.2rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #2e2f46;
    height: 0.25rem;
    display: block;
    border-radius: 0.25rem;
  }
  .top-bar {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
    left: 0.25rem;
    position: relative;
  }
  .middle-bar {
    opacity: 0;
    margin: 0.3rem 0;
  }
  .bottom-bar {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
    left: 0.25rem;
    position: relative;
  }
  &.collapsed {
    .top-bar {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      left: 0;
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      left: 0;
    }
  }
}

/* SIDEBAR MODAL*/
.modal {
  &.left {
    right: -100%;
    left: auto;
    .modal-dialog {
      position: fixed;
      margin: auto;
      width: 20rem;
      height: 100%;
      -webkit-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
    }
    .modal-content {
      height: 100%;
      overflow-y: auto;
      background-color: $white;
      border: none;
      border-radius: 0;
      button {
        &.close {
          float: unset;
          position: absolute;
          right: 1.25rem;
          top: 2rem;
          background-color: transparent;
          color: $black;
          z-index: 2;
          opacity: 1;
          border: none;
          text-shadow: unset;
          -webkit-box-shadow: unset;
          box-shadow: unset;
          font-size: 1.5rem;
          -webkit-transition: $transition;
          transition: $transition;
          &:hover {
            color: red;
          }
        }
      }
    }
    .modal-dialog {
      right: -100%;
      -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
      transition: opacity 0.3s linear, right 0.3s ease-out;
    }
    &.show {
      right: 0;
      .modal-dialog {
        right: 0;
      }
    }
  }
}

.sidebarModal {
  &.modal {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    opacity: 1;
    .modal-body {
      padding: 2.2rem 2rem 2.8rem;
      position: relative;
      .sidebar-content {
        position: absolute;
        top: 7rem;
        margin-top: 2.2rem;
        h3 {
          font-size: 1.38rem;
          margin-bottom: 1rem;
        }
        .sidebar-btn {
          margin-top: 1.5rem;
          .admin_link {
            color: $black;
            font-weight: 600;
            cursor: pointer;
          }
        }
      }
      .sidebar_contact_info {
        margin-top: 2rem;
        position: absolute;
        bottom: 10rem;
        h3 {
          font-size: 1.38rem;
          margin-bottom: 0;
        }
        .info-list {
          padding-left: 0;
          margin-top: 2rem;
          margin-bottom: 0;
          li {
            list-style-type: none;
            font-size: 1rem;
            color: $black;
            font-weight: 500;
            margin-bottom: 1.25rem;
            position: relative;
            padding-left: 1.38rem;
            &:last-child {
              margin-bottom: 0;
            }
            a {
              color: $black;
              &:hover {
                color: $red;
              }
            }
            i {
              position: absolute;
              left: 0;
              top: 0.125rem;
              font-size: $font_size;
              color: $dark_grey;
            }
          }
        }
      }
      .sidebar_social_list {
        position: absolute;
        bottom: 5rem;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 2rem;
        li {
          display: inline-block;
          margin-right: 0.5rem;
          &:last-child {
            margin-right: 0;
          }
          i {
            display: inline-block;
            height: 2.2rem;
            width: 2.2rem;
            line-height: 2.2rem;
            background-color: $black;
            text-align: center;
            color: $white;
            font-size: $font_size;
            border-radius: 50%;
            -webkit-transition: $transition;
            transition: $transition;
            &:hover {
              -webkit-transform: translateY(-0.3rem);
              transform: translateY(-0.3rem);
              background-color: $grey;
              color: $white;
            }
          }
        }
      }
    }
  }
}

/*HERO SECTION*/
.hero_area {
  position: relative;
  padding: 6.25rem 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .hero-content {
    .hero-text {
      position: relative;
      h6 {
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.4rem;
        font-weight: 400;
      }
      h2 {
        font-size: 4rem;
        font-family: "Open Sans", sans-serif;
        color: $black;
        font-weight: 600;
        letter-spacing: 0;
        margin: 1.6rem auto 3rem;
      }
    }
  }
}



.hero-graphics {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  img {
    height: 4rem;
    width: 4rem;
    &.bgi {
      position: absolute;
    }
    &.hg-1 {
      top: 10%;
      left: 3%;
      -webkit-animation: pulse 2s infinite;
      animation: pulse 2s infinite;
    } 
    &.hg-2 {
      bottom: 4.4rem;
      left: 1.4rem;
      animation: flip 6s infinite;
    }
    &.hg-3 {
      bottom: 6%;
      left: 3%;
      animation: rubberBand 8s infinite;
    }
    &.hg-4 {
      right: 43%;
      bottom: 2.8rem;
      animation: bounceOut 20s linear infinite;
    }
    &.hg-5 {
      bottom: 6%;
      right: 3%;
      animation: shake 20s infinite;
    }
    &.hg-6 {
      top: 60%;
      right: 4%;
      animation: fadeIn 6s infinite;
    }
    &.hg-7 {
      top: 0.3rem;
      right: 1.1rem;
      animation: swing 6s infinite;
    }
  }
}

/*Keyframes for Hero Graphics */

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* TAB CONTENT */
.food_tabs {
  .react-tabs {
    .react-tabs__tab-list {
      border-bottom: none;
      margin: 0 0 1.8rem;
      text-align: center;
      .react-tabs__tab {
        border: none !important;
        border-bottom: none;
        background-color: $black;
        bottom: 0;
        padding: 0.5rem 1.6rem;
        border-radius: 1.8rem;
        font-size: 1rem;
        font-weight: 500;
        margin: 0 0.3rem;
        -webkit-transition: $transition;
        transition: $transition;
        color: $white;
        &.react-tabs__tab--selected {
          background: $bluish_grey;
          color: $black;
          box-shadow: 0 0.13rem 0.25rem 0 #c8d7ee;
          border-radius: 1.8rem;
        }
      }
    }
  }
}

/* ENTER ADDRESS  */
.search_location {
  @include searchInput() {
    input {
      height: 4.2rem;
      width: 100%;
      padding: 0.5rem 0.75rem;
      border: none;
      font-size: 1rem;
      &::placeholder {
        font: 1rem sans-serif;
        color: $dark_grey;
      }
    }
    .find_food_btn {
      background-color: $black;
      color: $white;
      border: none;
      padding: 0.3rem 1rem;
      transition: 0.6s;
    }
  }
}

/*CTA AREA */
.cta_area {
  background-color: $bluish_grey;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.global-shape {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 1000px;
  z-index: -1;
  // opacity: 10%;
}

/*SEARCH MENU */
.search_menu {
  border-radius: 0.4rem;
  @include searchInput() {
    input {
      width: 100%;
      height: 3.1rem;
      padding: 0 1.25rem 0 2.8rem;
      font-size: 1.25rem;
      background: white;
      &::placeholder {
        font: 1rem sans-serif;
        color: $dark_grey;
      }
      &:focus {
        border-color: $yellow;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    span {
      left: 1.25rem;
      opacity: 0.5;
      margin-top: 0.06;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/*MENU */
.menu_card_item {
  text-align: center;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 0.9rem 2rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.9rem 2rem rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0.3rem;
  transition: 0.5s;
  margin-bottom: 2rem;
  padding-bottom: 1.3rem;
  background-color: $white;
  &:hover {
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
  }
}
.menuModal {
  .modal-content {
    button.btn-close {
      float: unset;
      position: absolute;
      right: 1.25rem;
      top: 2rem;
      background-color: transparent;
      color: #1d1d1d;
      z-index: 2;
      opacity: 1;
      border: none;
      text-shadow: unset;
      box-shadow: unset;
      font-size: 1.5rem;
      transition: 0.6s;
    }
    .card {
      border: none;
      .accordion {
        --bs-accordion-border-width: 0;
      }
      .form-check-input {
        &:checked {
          background-color: $black;
          border-color: $black;
        }
        &:focus {
          outline: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
      .form-check-input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.3rem;
      }
    }
  }
}

/* PAGINATION */
.pagination_area {
  .pagination {
    --bs-pagination-color: $body_color;
    --bs-pagination-active-bg: #1d1d1d;
    --bs-pagination-active-border-color: #1d1d1d;
    --bs-pagination-border-radius: 1rem;
  }
}

/*FILTER */
.filter_by_container {
  .dropdown {
    justify-content: flex-end !important;
  }
}

/***************************************************************PAGES********************************************************/

/*LOGIN &  SIGNUP FORM */
.auth_form {
  background: $white;
  -webkit-box-shadow: 0 0.13rem 3rem 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 0.13rem 3rem 0 rgba(0, 0, 0, 0.08);
  padding: 2.5rem;
  border-radius: 0.3rem;
  max-width: 37.5rem;
  .form-control {
    @include formControl() {
    }
  }

  a {
    &:hover {
      color: $body_color;
    }
  }
}

/*MY ACCOUNT */
.account_details_area {
  background-color: $white;
  // position: relative;
  border-radius: 1rem;
  .avatar {
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: relative;
    margin: 0.9rem auto;
    border: 2px solid $light_grey;
    border-radius: 50%;
    cursor: pointer;
    .img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    span {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      height: 50%;
      color: $white;
      background: $black;
      text-align: center;
      font-weight: 400;
      transition: 0.3 ease-in-out;
    }
    &:hover {
      span {
        bottom: -8%;
      }
    }
    #img-file-up {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
  .profile_form {
    .form-group {
      margin-bottom: 20px;
      position: relative;
      .form-control {
        @include formControl() {
        }
      }
      i {
        font-size: 20px;
        line-height: 1;
        position: absolute;
        top: 10px;
        right: 20px;
      }
    }
  }
}

/*CART */
.cart_area {
  width: 400px;
  ul {
    li {
      i {
        cursor: pointer;
      }
    }
  }
  .delete_btn {
    color: $red;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .ri-bank-card-fill {
    color: $green;
    font-size: 1.3rem;
  }
}

.track_order {
  .container_box {
    margin: auto;
    align-items: center;
    width: 22rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 1.9rem rgba(102, 102, 102, 0.1);
  }
  ul {
    li {
      padding: 2.5rem 0 2.5rem 0;
      position: relative;
      img {
        &:hover {
          background: #161c2d;
          border-radius: 50%;
          -webkit-transition: 0.6s;
          transition: 0.6s;
        }
      }
      i {
        color: white;
        margin-left: 0.5rem;
        background: $grey;
        border-radius: 50%;
        -webkit-transition: 0.6s;
        transition: 0.6s;
        &.active {
          color: white;
          background: $green;
          border-radius: 50%;
          -webkit-transition: 0.6s;
          transition: 0.6s;
        }
        &.pending {
          @include animate(pulse-animation, 2s, infinite);
          @include keyframes(pulse-animation) {
            0% {
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
            }
            100% {
              box-shadow: 0 0 0 1.25rem rgba(0, 0, 0, 0);
            }
          }
        }
      }
      &::after {
        content: " ";
        background: $grey;
        height: 7.2rem;
        width: 0.25rem;
        display: block;
        position: absolute;
        left: 6.25rem;
      }
      &:last-child {
        &::after {
          height: 0;
        }
      }
      &:nth-child(1) {
        &::after {
          background: $green;
        }
      }
    }
  }
}

/*CONTACT PAGE  */
.contact_info_area {
  .contact_address {
    background: $bluish_grey;
    border: 0.1rem solid $light_grey;
    padding: 2.8rem 2.2rem;
    border-radius: 0.3rem;
    h3 {
      font-size: 1.4rem;
      margin-bottom: 0.9rem;
    }
    p {
      font-size: 0.9rem;
    }
    .address-info {
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 0;
      li {
        list-style-type: none;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 500;
        color: #4b4b61;
        position: relative;
        padding-left: 40px;
        a {
          font-size: 15px;
          font-weight: 500;
          color: #4b4b61;
        }
        i {
          position: absolute;
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          color: var(--main-color);
          font-size: 30px;
        }
      }
    }
    .address-social {
      padding-left: 0;
      margin-bottom: 0;
      margin-top: 2.2rem;
      text-align: center;
      li {
        display: inline-block;
        list-style-type: none;
        margin-bottom: 0;
        margin-right: 0.6rem;
        i {
          display: inline-block;
          height: 2.2rem;
          width: 2.2rem;
          line-height: 2.2rem;
          background-color: $white;
          color: $body_color;
          -webkit-box-shadow: 0 0.9rem 2.2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.9rem 2.2rem rgba(0, 0, 0, 0.1);
          border-radius: 3rem;
          text-align: center;
          &:hover {
            background-color: $black;
            color: $white;
            -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
          }
        }
      }
    }
  }

  .map {
    iframe {
      width: 100%;
      height: 27.5rem;
      border: 0.06rem solid $light_grey;
      border-radius: 0.3rem;
    }
  }
}

.contact_area {
  .contact_form {
    text-align: center;
    max-width: 65.6rem;
    margin: auto;
    h3 {
      font-size: 1.75rem;
      margin-bottom: 2.8rem;
    }
    .form-group {
      margin-bottom: 1.25rem;
      .form-control {
        display: block;
        width: 100%;
        height: 3.8rem;
        outline: 0;
        background-color: $bluish_grey;
        border: 0.06rem solid $light_grey;
        border-radius: 0.3rem;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0.9rem;
        -webkit-transition: $transition;
        transition: $transition;
        font-size: 0.9rem;
        &:focus {
          outline: 0;
          background-color: $white;
          border-color: $black;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
      textarea {
        &.form-control {
          height: auto;
          padding: 0.9rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}

/* FOOTER  */
.footer_section {
  background-color: $black;
  position: relative;
  overflow: hidden;
  h3 {
    color: $white;
  }
  .footer-menu {
    ul {
      li {
        a {
          color: $white;
        }
      }
    }
  }
  .footer-socials {
    ul {
      li {
        a {
          i {
            color: $white;
            margin: 0.3rem;
          }
        }
      }
    }
  }
  .footer-policies {
    ul {
      li {
        a {
          color: $white;
        }
      }
    }
  }
  .copyright-area {
    p {
      color: $white;
    }
  }
  .footer-horizontal-rule {
    border: 0.06rem solid#fff;
  }
}

/******************************************************************DASHBOARD COMPONENTS & PAGES********************************/

/*DASHBOARD HEADER*/
.dash_header {
  width: 100%;
  height: 3rem;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 90;
  transition: 0.5s;
  .dash_header_toggle {
    color: $black;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .dropdown-menu {
    p {
      font-weight: 600;
      color: $body_color;
    }
    .dropdown-item {
      position: relative;

      i {
        position: absolute;
        top: 0.3rem;
      }
      span {
        margin-left: 2rem;
      }
    }
  }
}

@mixin dashlinks {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 0.6rem;
  position: relative;
  margin-bottom: 1.5rem;
  transition: 0.3s;
  @content;
}
/*DASHBOARD SIDE BAR  */

.dash_sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 4.25rem;
  height: 100vh;
  padding: 0.5rem 0 0 0;
  transition: 1.5s;
  z-index: 100;
  background-color: $white;
  .dash_nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    .nav_logo {
      @include dashlinks() {
      }
      .nav_logo_name {
        font-weight: 700;
      }
    }
    .nav_link {
      @include dashlinks() {
      }

      i {
        font-size: 1.2rem;
        padding: 0.3rem 0.8rem;
        border-radius: 0.4rem;
        box-shadow: 0.06rem -0.06rem 0.3rem 0 rgba(0, 0, 0, 0.1);

        &:hover {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}

.dash_container {
  transition: 1.5s;
  background-color: $bluish_grey;
  min-height: 62.5rem;
  position: relative;
}

.review {
  left: 0;
}

.add_body_padding {
  padding-left: calc(4.25rem + 1rem);
  transition: 1.5s;
}

.admin_cards_area {
  position: relative;
  top: 1rem;
  .single_card {
    @include boxShadow1() {
    }
    padding: 1.9rem;
    border-radius: 0.6rem;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    margin-bottom: 1.5rem;
    i {
      font-size: 2rem;
      color: $dash_purple;
    }
    .flex-grow-1 {
      h6 {
        span {
          color: $dash_green;
          font-weight: 500;
          &.hot {
            color: $red;
          }
        }
      }
    }
  }
}

.chart_wrap {
  @include boxShadow1() {
  }
  padding: 1.9rem;
  border-radius: 0.63rem;
  margin-bottom: 1.5rem;
  .sales_overview {
    margin-bottom: 1.25rem;
    .overview_content {
      font-size: 1.1rem;
      i {
        font-weight: normal;
        font-size: 0.8rem;
        color: $green;
      }
      .more {
        font-weight: normal;
        font-size: 0.8rem;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        display: inline-block;
        margin-right: 1.9rem;
        &:last-child {
          margin-right: 0;
        }
        span {
          font-size: 0.9rem;
          display: block;
          margin-bottom: 0.3rem;
        }
        h6 {
          margin-bottom: 0;
          font-size: 1.1rem;
          &.this-month {
            color: $green;
          }
        }
      }
    }
  }
  .chart_area {
    width: 100%;
    height: 385px;
  }
}

.dashboard_table {
  @include boxShadow1() {
  }
  padding: 1.5rem 0.6rem;
  border-radius: 0.6rem;
  margin-bottom: 1.5rem;

  .table-responsive {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    height: 30rem;
    border-radius: 0;
    thead {
      &.sticky-top {
        z-index: 1;
      }
      th {
        color: $body_color;
      }
    }
    .dropdown {
      .dropdown-item {
        position: relative;
        i {
          position: absolute;
          top: 0.1rem;
        }
        span {
          margin-left: 2rem;
        }
      }
    }
    i {
      font-size: 1.2rem;
      font-weight: 500;
      &:hover {
        cursor: pointer;
      }
      &.ri-edit-line {
        color: $blue;
      }
      &.ri-delete-bin-line {
        color: $optional_red;
      }
      &.ri-check-double-line {
        color: $green;
      }
      &.ri-close-line {
        color: $red;
      }
      &.ri-eye-line {
        color: $black;
      }
    }
    .mark_badge {
      background-color: $black;
      color: $white;
      padding: 0.3rem 0.4rem;
      border-radius: 1rem;
      cursor: pointer;
      font-weight: 500;
      &:hover {
        background-color: $grey;
        color: $body_color;
      }
    }
  }
}

.add_item_form {
  .form-group {
    margin-bottom: 1.25rem;
    position: relative;
    label {
      margin-bottom: 1rem;
    }
    i {
      font-size: 1.25rem;
      line-height: 1;
      position: absolute;
      top: 0.6rem;
      right: 1.25rem;
    }
  }
}

.receipt_modal {
  .modal-footer {
    justify-content: center;
    text-align: center;
    background-color: #f0f5ff;
    li {
      font-size: 0.9rem;
      font-weight: 500;
      &:last-child {
        margin-bottom: 0;
      }
      i {
        margin-right: 0.4rem;
        font-size: $font_size;
        color: $grey;
      }
    }
  }
}

.order_receipt {
  .amount {
    color: $black;
    font-weight: 600;
  }
  .card_number {
    color: $black;
  }
  .visacard {
    color: $black;
  }
  .mastercard {
    color: $black;
  }
}

.notifications_table {
  tr {
    &:hover {
      -webkit-box-shadow: 0 0 0.6rem 0 rgba(58, 70, 93, 0.25);
      box-shadow: 0 0 0.6rem 0 rgba(58, 70, 93, 0.25);
      -webkit-transition: all ease 0.5s;
      transition: all ease 0.5s;
      z-index: 1;
    }
  }
  input {
    &:checked {
      background-color: $black;
      border-color: $black;
    }
    &:focus {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
  }
  
}
